html {
  min-height: 100%;
  position: relative;
}
body {
	margin: 0;
	background: #CB8A54;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fff, #d6d6d6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fff, #d6d6d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.MuiAlert-message{
	width: 100%;
	margin-right: 10px;
}
